
<table class="dati">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td><%= c.text_field  :name %><%= @employee.errors[:name]%></td>
    </tr>
    <tr>
      <td>Initial</td>
      <td><%= c.text_field  :initial %><%= @employee.errors[:initial]%></td>
    </tr>
</tbody>
</table>
