<%= error_messages_for :employee %>

<table class="dati">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td><%= c.text_field  :name %></td>
    </tr>
    <tr>
      <td>Initial</td>
      <td><%= c.text_field  :initial %></td>
    </tr>
</tbody>
</table>
