<h1>Edit Employee</h1>


<%= form_for @employee, url: employee_path(@employee.id), :html => {:method => :put} do |c| %>

  <%= render 'form', c: c  %>

  <p>
  <%= submit_tag 'save' %>
  </p>

<% end %>
