<h1>Generate new bill </h1>


<% form_for :bill_history, @bill_history, :url => { :action => 'create' } do |c| %>

  <%= render :partial => 'form', :locals => { :c => c } %>

  <p>
  <%= submit_tag 'create' %>
  </p>

<% end %>
