<h1>New Customer</h1>


<% form_for :customer, @customer, :url => { :action => 'create' } do |c| %>

  <%= render :partial => 'form', :locals => { :c => c } %>

  <p>
  <%= submit_tag 'create' %>
  </p>

<% end %>
<img src="/images/HindiMap.jpg" style="margin:20px 330px;"/>

